
.linktag {
	background-color: #f0f0f0;
	display: block;
	}
	
.lt-url {
	font-size: 0.95em;
	}

.lt-doc, .lt-eml, .lt-ext, .lt-int, .lt-tel, .lt-eform {
	font-weight: bold;
	font-size: 1.4em;
	color: gray;
	letter-spacing:2px;
	}

/* these can be used for type-specific modifications to the initial symbol, for example an image. */

/*
.lt-doc {
	}

.lt-eml {
	}

.lt-ext {
	}

.lt-int {
	}

.lt-tel {
	}

.lt-eform {
	}

*/